body{
    background: rgb(255,158,35);
background: linear-gradient(152deg, rgba(255,158,35,1) 0%, rgba(148,58,255,1) 49%, rgba(255,0,0,1) 100%);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
    padding-right: 50px;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    letter-spacing: 0.1em;
    text-decoration: none;  
}

.pochoclean{
    width: 80px;
    border-radius: 100px;
}

nav a:hover{
    color: black;
    transition: 0.5s;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-bhavi{
    display: flex;
    justify-content: center;
    padding-right: 30px;
    gap: 80px;
}

.pochoclos{
    width: 25%;
    border-radius: 40px;
}

.titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: black;
}

.pochoclito{
    color: yellow;
}

.feats{
    color: blue;
}

.spotify{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    height: 30px;
    border-radius: 20px;
    color: lime;
    background-color: black;
    border-style: none;
    width: 100%;
    cursor: pointer;
}

.yt{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    color: white;
    background-color: red;
    border-style: none;
    cursor: pointer;
}

.info{
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    color: white
}
.parrafo{
    width: 45%;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 80px;
    letter-spacing: 2px;
    color: black;
}

.cards p{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: 500;
    letter-spacing: 1px;
}

.containerdisc{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.discografia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.discografia img{
    border-radius: 10%;
    width: 60%;
}

.discografia p{
    width: 50%;
    font-family: cursive;
    font-weight: 900;
    color: whitesmoke;
}

.containerfooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 150px;
}

.containerfooter h1{
    color: white;
    text-decoration: underline wavy;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.footer h3{
    text-decoration: underline double;
    color: white;
}

  
.contacto1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto1 p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: yellow;
}
  
.contacto2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto2 p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: yellow;
}

.bhavi{
    display: flex;
    width: 25%;
    border-radius: 50px;
    margin-left: 200px;
}

.fin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    color: rgb(168, 168, 168);
}

.fin img{
    width: 10%;
    border-radius: 50%;
}